@model AgilAds.Models.Institution

@{
    ViewBag.Title = "INS Institution Details";
}

<h2>Institution for @ViewBag.OrganizationName</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        
        @Html.Partial(@"~\Views\Shared\_Detail.cshtml", Model)

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyAdFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyAdFee)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("BACK to " + (string)ViewBag.CallerId, "Back")
</p>
