@model AgilAds.Models.Institution

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Institution</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAcctNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAcctNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArcSum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArcSum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Secret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Secret)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyAdFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyAdFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FocalPoint.Fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FocalPoint.Fullname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
