@model IEnumerable<AgilAds.Models.InstitutionListAllView>

@{
    ViewBag.Title = "Institution Index";
}

<h2>List of @ViewBag.OrganizationName Institutions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FocalPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyAdFee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FocalPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlyAdFee)
        </td>
        <td>
            @Html.ActionLink("Contact", "Contact", new { id = item.id }) |
            @Html.ActionLink("Team", "Team", new { id = item.id }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("BACK to " + (string)ViewBag.CallerId, "Back")
</div>
