@model IEnumerable<AgilAds.Models.RepListAllView>

@{
    ViewBag.Title = "Representative Index";
}

<h2>Representative Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Orgname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FocalPoint)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Orgname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FocalPoint)
        </td>
        <td>
            @Html.ActionLink("Contacts", "Contact", new { id = item.id }) |
            @Html.ActionLink("Team", "Team", new { id = item.id }) |
            @Html.ActionLink("Institutions", "Institution", new { id = item.id }) |
            @Html.ActionLink("Members", "Member", new { id = item.id }) |<br />
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
