@model AgilAds.Models.Member

@{
    ViewBag.Title = "MEM Delete Member";
}

<h2>Delete Member for @ViewBag.OrganizationName</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
 
        @Html.Partial(@"~\Views\Shared\_Detail.cshtml", Model)

        <dt>
            @Html.DisplayNameFor(model => model.StaticMsg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaticMsg)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
            @Html.ActionLink("BACK to " + (string)ViewBag.CallerId, "Back")
        </div>
    }
</div>
